body {
    background-color: beige;
}
a {
    color: #000;
    padding: 25px;
    font-size:24px;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}
h1 {
    text-align:center;
}
nav a {
    text-decoration: none;
}
a:hover {
    background-color: beige;
    color: black;
}

p {
    width: 50%;
    margin: 50px auto;
    line-height: 1.25em;
    background-color: rgb(216, 171, 216);
    padding: 30px;
    box-sizing: border-box;
    border: 5px solid rgb(199, 57, 168);
    border-radius: 8px;
}


nav, footer {
    background-color: rgb(216, 171, 216);
    display: flex;
    justify-content: space-around;
    }

footer p {
color: beige;
text-align: center;
background-color: steelblue;
border-radius: 0;
border: 0;
}