@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 35px;
    font-family: Rubik;
}

header {
    background-color:#003459;
    font-family: Caveat, Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 150px auto;
    }
    
nav {
    display: flex;
    justify-content: space-around;
    }

nav a:hover {
    background-color: white;
    color: #003459;
    }

.grid-container1, .grid-container2, .grid-container3 {
    display:grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
    }
    
.images1, .images2, .images3 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px;

}
   
h1 {
    font-family: Rubik;
    text-align: center;
}
p {
    font-family: Itim;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    
}

footer {
    background-color: #003459;
    color:white;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Rubik;

    }

    

